* {
  font-family: $font-primary;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $background-light;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $background-light;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $text-dark;
  }
}

body {
  font-family: $font-primary;
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: $background-light;
  color: $variant;
  font-weight: 500;
  margin: 0;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0 0 1.125rem;
}

ul {
  margin: 0;
}

p {
  margin: 0 0 0.4rem;
  &:last-child {
    margin: 0;
  }
}

a {
  color: $variant;
  text-decoration: none;
  transition: all $animation-seconds;
}
a:hover,
a:focus {
  color: $secondary;
  transition: all $animation-seconds;
}

.container {
  width: min(100ch, 100% - 4rem);
  height: auto;
  margin-inline: auto;
  display: flex;
}
