@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

$primary: #3466af;
$secondary: #ffcb05;
$variant: #3730a3;

$text-light: #f1f1f1;
$text-dark: #2e3057;

$background-light: #f5fbfb;
$background-dark: #121214;

$font-primary: 'Montserrat', sans-serif;

$opacity: 0.7;

$animation-seconds: 0.7s;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
